services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "8001:8000"

  dashboard:
    build:
      context: .
      dockerfile: Dockerfile.dashboard
    ports:
      - "8501:8501"
    environment:
      - API_URL=http://api:8000
    depends_on:
      - api
